html {
    background-color: green;
}

body {
    background-color: white;
    margin: 100px;
    padding: 20px;
    border-radius: 5px;
    width: auto;
    height: auto;
    font: normal 1.2em 'sans-serif';
}

header {
    text-align: center;
    font-size: 20px;
}

p {
    font-style: italic;
}
.tarefas.selected {
    background-color: gray;
    
}

.completed {
    text-decoration:line-through solid black;
}

button {
    margin: 10px;
}

.button {
    color: white;
    padding: 10px;
    border-radius: 40px;
    font-weight: bold;
    border: 2px solid white;
}

.blue {
    background-color: blue;
}

.darkRed {
    background-color: darkred;
}

.green {
    background-color: green;
}

.oldYellow {
    background-color: darkgoldenrod;
}

#texto-tarefa {
    font-size: 20px;
    line-height: 26px;
}